body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:snow
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar  */

.navigationBarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

.homeNavPart {
  float: left;
}

.dropdown {
  float: right;
}

.registerDropDown {
  margin-right: 3.5%;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.navBarIcon {
  margin-left: 10px;
  position: relative;
  top: 2px;
}

/* Announcement */

.announcements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98vw;
}

.announcement {
  margin: 2% 2% 1% 1.8%;
  border: 2px solid #01BCE7;
  border-radius: 8px;
  padding: 0 6px;
  float: left;
  width: 15%;
  min-width: min-content;
  height: 100%;
}

.announcement:hover {
  border: 3px solid rgb(86, 171, 251);
  background-color: #78b2ff;
}

.divForImage {
  text-align: center;
}

.announcementPicture {
  width: 100%;
}

.displayProp {
  font-weight: 500;
}

.displayPropValue, .displayPropValueExpire {
  font-weight: 200;
}

.displayPropValueExpire {
  color: rgb(185, 0, 0); 
  padding: 7px;
}

.seeMoreDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 0% 2% 0%;
}

.announcementName {
  text-align: center;
  min-height: 50px;
}

.favorites {
  width: 25px;
  height: 25px;
  margin-top: 4px;
}

.endTimeExpire {
  color: rgb(185, 0, 0);  
}

/* Register form */

.errorMessage {
  color: red;
}

.passwordVisible {
  position: absolute;
  right: 10px;
  margin-top: 4px;
}

.registrationIcon {
  position: relative;
  margin: 35% 20% 20% 20%;
}

.registerImage {
  min-height: 100vh;
  background-image: url('../public/images/registrationBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.registrationFormHeaderText {
  margin: 5%;
  position: relative;
  bottom: 20px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.form_wrapper {
  background: bottom;
  width: 40%;
  height: min-content;
  box-sizing: border-box;
  padding: 24px;
  margin: 1% auto 0;
  margin-right: 45%;
  position: relative;
  z-index: 1;
  border: 5px solid #01BCE7;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}

.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper label {
  font-size: 12px;
}
.form_wrapper .row {
  margin: 1px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.form_wrapper .col_half {
  width: 50%;
  float: left;
}
.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}

.input_field {
  margin-top: 3.9%;
  display: flex;
  flex-direction: row;
}

.form_wrapper .input_field > span > i {
  padding-top: 10px;
}
.form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover {
  background: #fafafa;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.form_wrapper input[type="submit"] {
  background: #01BCE7;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="submit"]:hover {
  background: #e1a70a;
}
.form_wrapper input[type="submit"]:focus {
  background: #e1a70a;
}
.form_wrapper input[type="checkbox"], .form_wrapper input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.form_container .row .col_half.last {
  border-left: 1px solid #cccccc;

}
.checkbox_option label {
  margin-right: 1em;
  position: relative;
}
.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #cccccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.checkbox_option label:after {
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}
.checkbox_option input:hover + label:before {
  border-color: #000000;
}
.checkbox_option input:checked + label:before {
  border-color: #000000;
}
.checkbox_option input:checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color: #000000;
}
.radio_option label {
  margin-right: 1em;
}
.radio_option label:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #cccccc;
  padding: 0.15em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.radio_option input:hover + label:before {
  border-color: #000000;
}
.radio_option input:checked + label:before {
  background-color: #000000;
  border-color: #000000;
}
.select_option {
  position: relative;
  width: 100%;
}
.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #cccccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}
.select_option select::-ms-expand {
  display: none;
}
.select_option select:hover, .select_option select:focus {
  color: #000000;
  background: #fafafa;
  border-color: #000000;
  outline: none;
}
.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
  border-top-color: #000000;
}
.credit {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 15px;
  color: #f5ba1a;
}
.credit a {
  color: #e1a70a;
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }
  .bottom_row .col_half {
    width: 50%;
    float: left;
  }
  .form_container .row .col_half.last {
    border-left: none;
  }
  .remember_me {
    padding-bottom: 20px;
  }
}

.form_container {
  height: 80%;
}

.clearfixx {
  height: 100%;
}

.registerCompanyForm {
  height: 100%;
}

.registerHeader {
  color: #01BCE7
}

.registerCompanyButton {
  background: #01BCE7;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.registerCompanyButton:hover {
  background: #e1a70a;
}

.registerCompanyButton:focus {
  background: #e1a70a;
}

/* Login Form */

.showLogInPassword {
  display: flex;
  flex-direction: row;
}

.loginImage {
  height: 100vh;
  background-image: url('../public/images/loginBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  font-family: Georgia, Times, "Times New Roman", serif;
  width: 25%;
  margin-left: 20%;
  margin-top: 10%;
  min-width: min-content;
}

.loginInputName, .loginInputPassword {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.loginInputName {
  width: 85%;
  min-width: 85%;
}

.loginInputPassword {
  width: 85%;
  min-width: 85%;
}

.loginSubmitButton {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.loginSubmitButton:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgb(181, 233, 185);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  min-width: max-content;
}

.loginError {
  color: red;
  font-size: 12px;
}

.loginTitle {
  font-size: 35px;
  text-align: center;
  margin: 1% 0% 10% 0%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.logInPass {
  margin-left: 3%;
}

.logInViaLabel {
  font-size: large;
  margin-right: 5%;
  color: #0e181b;
  min-width: max-content;
}

.logInViaDiv {
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.logInViaUser {
  font-size: medium;
  color: white;
  margin-top: 0.5%;
}

.logInViaCompany {
  margin-top: 0.5%;
}

.loginViaSwitch {
  position: relative;
  bottom: 7px;
}

.logInEmailAndPasswordLabel {
  margin-top: 3%;
  margin-bottom: 3%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.logInLoading {
  text-align: center;
  margin: 10% 10% 0% 10%;
}

.logInSuccessfullyIcon {
  margin-left: 5%;
}

.logInSuccessfullyTitle {
  margin-top: 2%;
  min-width: max-content;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.succesfullyLoggedIn {
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: center;
}

/* Home Page - Company part */

.homeBackground {
  height: 100%;
  background-image: url('../public/images/homeBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.createNewAnnouncement {
  text-align: center;
  margin-top: 2%;
}

.createNewAnnouncementBtn {
  border-radius: 10px;
}

.expanded {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

.collapsed {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4af2ef 100%);
}

.button-29 {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 18px;
  width: 20%;
  height: 50px;
  min-width: min-content;
}

.expanded:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.expanded:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.expanded:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}sort

.collapsed:focus {
  box-shadow: #4af2ef 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4af2ef 0 -3px 0 inset;
}

.collapsed:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4af2ef 0 -3px 0 inset;
  transform: translateY(-2px);
}

.collapsed:active {
  box-shadow: #4af2ef 0 3px 7px inset;
  transform: translateY(2px);
}

.chooseYourTags {
  background-color: white;
}

.createAnnouncementForm {
  background: bottom;
  width: 55%;
  min-width: min-content;
  height: 90%;
  box-sizing: border-box;
  padding: 25px;
  margin: 2% auto 0;
  position: relative;
  z-index: 1;
  border: 5px solid #01BCE7;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
}
.createAnnouncementForm h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.createAnnouncementForm .title_container {
  text-align: center;
  padding-bottom: 15px;
}

.createAnnouncementForm h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.createAnnouncementForm label {
  font-size: 12px;
}
.createAnnouncementForm .row {
  margin: 1px -15px;
}
.createAnnouncementForm .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.createAnnouncementForm .col_half {
  width: 50%;
  float: left;
}
.createAnnouncementForm .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.createAnnouncementForm .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}

.input_field {
  margin-top: 3.9%
}

.createAnnouncementForm .input_field > span > i {
  padding-top: 10px;
}
.createAnnouncementForm .textarea_field > span > i {
  padding-top: 10px;
}
.createAnnouncementForm input[type="text"], .createAnnouncementForm input[type="email"], .createAnnouncementForm input[type="password"], .createAnnouncementForm input[type='date'], .createAnnouncementForm input[type='file'], select {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.createAnnouncementForm input[type="text"]:hover, .createAnnouncementForm input[type="email"]:hover, .createAnnouncementForm input[type="password"]:hover, .createAnnouncementForm input[type='date']:hover, .createAnnouncementForm input[type='file']:hover, select {
  background: #fafafa;
}
.createAnnouncementForm input[type="text"]:focus, .createAnnouncementForm input[type="email"]:focus, .createAnnouncementForm input[type="password"]:focus, .createAnnouncementForm input[type='date']:focus, .createAnnouncementForm input[type='file']:focus, select {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.createAnnouncementForm input[type="submit"] {
  background: #01BCE7;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.createAnnouncementForm input[type="submit"]:hover {
  background: #e1a70a;
}
.createAnnouncementForm input[type="submit"]:focus {
  background: #e1a70a;
}
.createAnnouncementForm input[type="checkbox"], .createAnnouncementForm input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.form_container .row .col_half.last {
  border-left: 1px solid #cccccc;
}

.createAnnouncementFileInput {
  background-color: white;
}

.sortingPart {
  border: 1px solid #105186;
  border-left: 5px solid #2196F3;
  border-radius: 10px;
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sortBy, .sortOrder, .sortByTags {
  margin: 1%;
}

.sortIcon {
  margin-top: 1.5%;
}

.showAnnouncementOption, .showFavoritesOption {
  color: #000000;
}

.showAnnouncementOption:hover, .showFavoritesOption:hover {
  color: white;
}

.endTimeDisplay, .expireForForm {
  display: flex;
  flex-direction: row;
}

.expireForForm {
  margin-top: 3%;
}

.extendNumber {
  width: 15%;
  margin-right: 3%;
  min-width: 15px;
}

.expireForLabel {
  margin-right: 3%;
  margin-top: 3%;
  min-width: 80px;
}

.extendBtn {
  min-width: 120px;
}

.expireForForm {
  display: flex;
  justify-content: space-between;
}

.extendEndTime {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.extendInput {
  margin: 2% 2% 2% 2%;
}

.modalName {
  text-align: center;
}

.modalExpireEndTime {
  border: 2px solid rgb(185, 0, 0);
  background-color: rgb(216, 252, 255);
  border-radius: 10px;
  margin-top: 3%;
}

.errorMessageExtendTime {
  color: rgb(185, 0, 0);
  margin: 5% 3% 3% 3%;
}

/* Profile User */

.profileUser {
  height: 100%;
  background-image: url('../public/images/homeBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.userProfile {
  border: 2px solid black;
  border-radius: 10px;
  width: 35%;
  text-align: center;
  padding: 2%; 
  margin: auto;
  margin-top: 2%;
}

.profileIcon {
  margin-left: 5%;
}

.userInformation, .renderUserInformation {
  display: flex;
  flex-direction: column;
}

.editUserPart {
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}

.fl {
	float: left;
  margin-top: 0.7%;
  width: 15%;
}

.inputEditFieldUser {
  width: 80%;
  margin-bottom: 1%;
}

.confirmPasswordUserPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.confirmPasswordUserPageLabel {
  float: left;
  margin-top: 0.8%;
  width: 20%;
}

.confirmPasswordUserPageVisibleBtn {
  margin-left: 2%;
}

.renderConfirmUpdate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.renderConfirmUpdateLabel {
  margin-top: 1.9%;
}

.userProfileDisplayProp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}